{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Finance Tracker</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/f9e9841ed2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">T₹ACKER</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'features' %}">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
          <div class="auth-links ms-lg-auto">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}" class="btn">Get Started for Free</a>
          </div>
        </div>
      </div>
    </nav>
    
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <section class="hero">
      <div class="container">
        <div class="hero-text">
          <h1>Introducing Your Personal Finance Tracker Solution</h1>
          <p>
            Manage your finances effortlessly with our intuitive application
            designed for tracking transactions effectively.
          </p>
          <p>
            Join thousands who efficiently manage their finances with our
            powerful and user-friendly tool.
          </p>
          <div class="btn-container auth-links">
            <a href="{% url 'register' %}" class="btn">Get Started Now</a>
          </div>
          <div class="user-stats">
            <div class="user-profiles mt-2">
              <img
                src="https://randomuser.me/api/portraits/men/32.jpg"
                alt="User 1"
              />
              <img
                src="https://randomuser.me/api/portraits/women/44.jpg"
                alt="User 2"
              />
              <img
                src="https://randomuser.me/api/portraits/men/54.jpg"
                alt="User 3"
              />
            </div>
            <div class="stats-text">
              <div class="transactions">Hundreds of</div>
              <div class="transactions">Transactions Tracked</div>
            </div>
          </div>
        </div>
        <div class="hero-image">
          <img src="{% static 'Images/finance-log-1.webp' %}" />
        </div>
      </div>
    </section>
    <section class="finance-management" style="margin-bottom: 0" id="features">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="description">
              Personal Finance Tracker empowers users to take control of their
              financial health with robust tracking features, visually engaging
              reports, and a user-friendly interface that caters to all, from
              beginners to finance experts.
            </p>
          </div>
          <div class="col-md-6 text-end">
            <h2 class="finance-title">
              Finance <br />
              Management
            </h2>
          </div>
        </div>
        <hr style="margin-top: 50px; margin-bottom: 0; border-top: 2px solid" />
      </div>
    </section>
    <section class="key-features" style="margin-top: 0">
      <div class="container">
        <h3 class="section-title">Key Features</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="feature">
              <i
                class="fa-regular fa-eye fa-2xl"
                style="color: #000000; margin-top: 16px"
              ></i>
              <div class="feature-text">
                <h4>Seamless Transaction Management</h4>
                <p class="subtext">User Friendly</p>
                <p>
                  Easily record, edit, or delete transactions with our
                  straightforward interface and experience a smooth way to
                  manage finances.
                </p>
              </div>
            </div>

            <div class="feature">
              <i
                class="fa-solid fa-pen-ruler fa-2xl"
                style="color: #000000; margin-top: 16px"
              ></i>
              <div class="feature-text">
                <h4>Intuitive Dashboard</h4>
                <p class="subtext">Data Visualization</p>
                <p>
                  Visualize your spending habits with detailed charts and
                  insights, making financial decisions simpler and more
                  informed.
                </p>
              </div>
            </div>

            <div class="feature">
              <i
                class="fa-solid fa-boxes-stacked fa-2xl"
                style="color: #000000; margin-top: 16px"
              ></i>
              <div class="feature-text">
                <h4>Optical Character Recognition</h4>
                <p class="subtext">Receipt Data Extraction.</p>
                <p>
                  An OCR-integrated system for receipts scans and extracts key data from receipt images, automating data entry for easy tracking and analysis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="services">
      <h2 class="section-title">Comprehensive Services</h2>
      <a href="{% url 'userauth' %}" style="color: white; text-decoration: none;">
      <div class="service-list">
        <div class="service-item">
          <div class="service-text">
            <h4>User Authentication</h4>
            <p>
              Secure sign-up and login to protect your sensitive financial
              information while retaining easy access to your account.
            </p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </a>

        <div class="service-item">
          <div class="service-text">
            <h4>Transaction Records</h4>
            <p>
              Keep your financial records organized and up-to-date with robust
              features for tracking and managing each transaction as you go.
            </p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="service-item">
          <div class="service-text">
            <h4>Financial Analysis</h4>
            <p>
              Analyzing your finances has never been easier with our detailed
              dashboards and reports, showcasing your financial health in a
              visually appealing manner.
            </p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="service-item">
          <div class="service-text">
            <h4>Visual Reporting</h4>
            <p>
              Gain insights into your spending habits and trends through
              visually engaging reports that help you make informed financial
              decisions.
            </p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
    </section>

    <section class="projects">
      <div class="container">
        <h2 class="text-center">Explore Our Projects</h2>
        <div class="row">
          <div class="col-md-6 project-card">
            <img
              src="{% static 'Images/premium_photo-1672423154405-5fd922c11af2.jpeg' %}"
              alt="Transaction Tracking"
            />
            <h3>Transaction Tracking</h3>
            <p>
              Stay updated and in control of your financial transactions with
              our extensive tracking feature.
            </p>
            <a href="{% url 'learn_more' %}">Learn More →</a>
          </div>
          <div class="col-md-6 project-card">
            <img
              src="{% static 'Images/iStock-1440562817.jpg' %}"
              alt="User Insights"
            />
            <h3>User Insights</h3>
            <p>
              Get insights into your financial patterns with user-friendly
              features tailored for your needs.
            </p>
            <a href="{% url 'discover_more' %}">Discover More →</a>
          </div>
          <div class="col-md-6 project-card">
            <img
              src="{% static 'Images/photo-1544006659-f0b21884ce1d.jpeg'%}"
              alt="CRUD Operations"
            />
            <h3>CRUD Operations</h3>
            <p>
              Effortlessly create, read, update, or delete your financial
              transactions, giving you complete control.
            </p>
            <a href="{% url 'explore_more' %}">Explore More →</a>
          </div>
          <div class="col-md-6 project-card">
            <img
              src="{% static 'Images/photo-1551288049-bebda4e38f71.jpeg' %}"
              alt="Transaction Trends"
            />
            <h3>Transaction Trends</h3>
            <p>
              Highlight the latest spending trends and forecasting to manage
              your finances effectively.
            </p>
            <a href="{% url 'view_trends' %}">View Trends →</a>
          </div>
        </div>
      </div>
    </section>

    <section class="contact-section" id="contact">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 text-white">
            <h2 class="contact-title">
              Connect With Us for <br />
              Inquiries and <br />
              Collaborations
            </h2>
            <p class="contact-desc">
              We'd love to hear from you! Reach out with any questions or
              suggestions regarding your financial journey with us.
            </p>
            <ul class="contact-list">
              <li>
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #ffffff"
                ></i>
                &nbsp; User Support and Engagement
              </li>
              <li>
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #ffffff"
                ></i>
                &nbsp; Feature Requests and Feedback
              </li>
              <li>
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #ffffff"
                ></i>
                &nbsp; Explore Collaboration Opportunities
              </li>
              <li>
                <i
                  class="fa-regular fa-circle-check"
                  style="color: #ffffff"
                ></i>
                &nbsp; Stay Updated with Latest Releases
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="contact-form">
              <h4 class="form-title">Get in touch</h4>
              <p class="form-desc">
                Our friendly team would love to hear from you.
              </p>
              <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <input type="hidden" name="contact_form" value="1">
                <div class="row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                      name="first_name"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last Name"
                      name="last_name"
                      required
                    />
                  </div>
                </div>
                <input
                  type="email"
                  class="form-control"
                  placeholder="name@domain.com"
                  name="email"
                  required
                />
                <input
                  type="text"
                  class="form-control"
                  placeholder="Phone Number"
                  name="phone"
                />
                <textarea
                  class="form-control"
                  rows="4"
                  placeholder="Message"
                  name="message"
                  required
                ></textarea>
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="border: none"
                >
                  Send message
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="testimonials">
      <div class="container">
        <h2 class="testimonials-title text-center">User Experiences Matter</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="testimonial-box">
              <p class="testimonial-text">
                The Personal Finance Tracker has revolutionized the way I manage
                my finances—simple, secure, and efficient!
              </p>
              <div class="testimonial-user">
                <img src="{% static 'Images/man1.jpg' %}" alt="User 1" />
                <div>
                  <h5>Prince Verma</h5>
                  <p>Software Engineer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="testimonial-box">
              <p class="testimonial-text">
                Using Personal Finance Tracker has simplified my budgeting
                process, making it transparent and manageable—highly
                recommended!
              </p>
              <div class="testimonial-user">
                <img src="{% static 'Images/woman1.jpg' %}" alt="User 2" />
                <div>
                  <h5>Srishti Sachdeva</h5>
                  <p>Business Woman</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="testimonial-box">
              <p class="testimonial-text">
                As a student, I've found this tool incredibly helpful for
                managing my expenses and staying within my budget.
              </p>
              <div class="testimonial-user">
                <img src="{% static 'Images/man2.jpg' %}" alt="User 3" />
                <div>
                  <h5>Dhruv Mahajan</h5>
                  <p>College Student</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-info">
          <h2 class="company-name">T₹ACKER</h2>
          <p class="company-desc">Tracking your expenses Since 2025 !</p>
          <div class="contact-info">
            <p>📍 Chitkara University, Rajpura</p>
            <p>📧 contact@tracker999.com</p>
            <p>📞 +91 9317809090</p>
          </div>
          <div class="newsletter">
            <h3>Subscribe to Our Newsletter</h3>
            <div class="newsletter-input">
              <input type="email" placeholder="Enter your email" />
              <button onclick="subscribeNewsletter()">Subscribe</button>
            </div>
          </div>
        </div>
        <div class="social-links">
          <h3>Connect With Us</h3>
          <div class="social-icons">
            <a href="#" class="social-icon" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-icon" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="social-icon" target="_blank">
              <i class="fab fa-x-twitter"></i>
            </a>
            <a href="#" class="social-icon" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a href="#" class="social-icon" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 T₹ACKER . All rights reserved.</p>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    >
      window.addEventListener('scroll', function () {
          const navbar = document.querySelector('.navbar');
          if (window.scrollY > 50) {
              navbar.style.padding = '5px 40px';
          } else {
              navbar.style.padding = '10px 40px';
          }
      });
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
              e.preventDefault();
              document.querySelector(this.getAttribute('href')).scrollIntoView({
                  behavior: 'smooth'
              });
          });
      });
    </script>
    <script>
      function subscribeNewsletter() {
        const emailInput = document.querySelector(".newsletter-input input");
        const email = emailInput.value;

        if (email && email.includes("@")) {
          alert("Thank you for subscribing!");
          emailInput.value = "";
        } else {
          alert("Please enter a valid email address.");
        }
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
  </body>
</html>
